@import url('reset.css');
@import url('font.css');


*{
    font-family: 'Cy Grotrsk';
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
section{
    width: 100vw;
}



.first-screen{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.first-screen-first-block{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    position: relative;
}
.background7{
    object-fit: contain;
    transform-origin: center;
    animation: rotateFon7 6s linear infinite;
    position: absolute;
    z-index: 1;
}
@keyframes rotateFon7 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.eyeGod1{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    max-width: 608px;
    max-height: 311px;
}
.sleepEyeGod {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 608px;
    max-height: 311px;
    animation: switch 2s infinite;
    z-index: 6;
}
.sleepEyeGod { animation-delay: 750ms; }

@keyframes switch {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}




.first-screen-second-block{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    position: relative;
    background-color: #FF94C8;
}
.background8{
    object-fit: contain;
    transform-origin: center;
    animation: rotateFon8 6s linear infinite;
    position: absolute;
    z-index: 1;
}
@keyframes rotateFon8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.eyeGod2{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    max-width: 608px;
    max-height: 311px;
}


.second-screen{
    display: flex;
    justify-content: flex-start;
    background: #FFDDDD;
    overflow: hidden;
}
.second-screen-text{
    font-size: 10vw;
    color: #FF0000;
    white-space: nowrap;
    padding: 0 1rem;
    animation: moveText 6s linear infinite;
}
@keyframes moveText {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}



.third-screen{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
}
.third-screen-first-block{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #FF94C8;

}
.third-screen-first-block-first-subblock{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    position: relative;
}

.background1{
    max-width: 400%;
    max-height: 400%; 
    object-fit: contain;
    transform-origin: center;
    animation: rotateFon 10s linear infinite;
    position: absolute;
    z-index: 1;
}

@keyframes rotateFon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.ryu1 {
    width: min(100vw, 450px);
    height: calc(min(100vw, 450px)*360/720);
    background: url('../assets/images/sprite3.svg') no-repeat 0 0%;
    background-size: cover;
    background-position: center;
    animation: sprite 1s steps(13) infinite;
    transform: rotate(0deg);
    position: absolute;
    z-index: 2;
}

@keyframes sprite {
  from { background-position: 0 0%; }
  to { background-position: 0 100%; }
}
.third-screen-first-block-second-subblock{
    width: 100%;
    height: 60%;
    background: url(../assets/images/background2.svg);
    background-color: #FF94C8;
    animation: rotatee 2s linear infinite;
    transform-style: preserve-3d;
}

@keyframes rotatee {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
.third-screen-secondAndThird-blocks{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}
.third-screen-second-block{
    width: 50%;
    height: 100%;
    background-color: #000;
    background: url('../assets/images/background5.svg');
    background-size: cover;
    background-position: center;
    animation: moveUpDown 3s ease-in-out infinite alternate;
    overflow: hidden;
}

@keyframes moveUpDown {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}



.third-screen-third-block{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.third-screen-third-block-first-subblock{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: rgb(225, 53, 133);
    overflow: hidden;
}
.w1{
    display: flex;
    flex-direction: column;
    color: #FFDDDD;
    background-color: #FF0000;
    width: 20%;
    font-size: 3.75vw;
    line-height: 85%;
    align-items: center;
}
.w1 p {
    display: inline-block;
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-75px);
    }
}
.w2{
    display: flex;
    flex-direction: column;
    color: #FF0000;
    background-color: #FF94C8;
    width: 20%;
    font-size: 3.75vw;
    line-height: 85%;
    align-items: center;
}
.w2 p {
    display: inline-block;
    animation: bounce1 1.5s ease-in-out infinite;
}

@keyframes bounce1 {
    0%, 100% {
        transform: translateY(-75px);
    }
    50% {
        transform: translateY(0);
    }
}
.third-screen-third-block-second-subblock{
    background-color: aqua;
    width: 100%;
    height: 50%;
    background: url('../assets/images/background6.svg');
    background-size: cover;
    background-position: center;
    animation: moveUpDown2 1.5s ease-in-out infinite alternate;
    overflow: hidden;
}

@keyframes moveUpDown2 {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}



.fourth-screen{
    display: flex;
    justify-content: flex-start;
    background: #FF0000;
    overflow: hidden;
}
.fourth-screen-text{
    font-size: 10vw;
    color: #FFDDDD;
    white-space: nowrap;
    padding: 0 1rem;
    animation: moveText 6s linear infinite;
}
@keyframes moveText {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}



.fifth-screen{
    background-color: #000;
    width: 100%;
    height: auto;
}
.red-eye{
    background-color: #FF0000;
    
}
.pink-eye{
    background-color: #FF94C8;
}
.white-eye{
    background-color: #FFDDDD;
}
.black-eye{
    background-color: #000;
}
.white-text{
    color: #FFDDDD;
    font-size: 9vw;
    animation: blinkk 500ms steps(2, start) infinite;
}

@keyframes blinkk {
    0%, 50% {
        color: #FFDDDD;
    }
    51%, 100% {
        color: #FF0000;
    }
}
.red-text{
    color: #FF0000;
    font-size: 9vw;
    animation: blink 500ms steps(2, start) infinite;
}

@keyframes blink {
    0%, 50% {
        color: #FF0000;
    }
    51%, 100% {
        color: #FFDDDD;
    }
}
.eyes-line{
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
}
.eyes-unit{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: relative;
}
.eyes-small{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.eyes-small-small{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.animation-up{
    animation: rot 3s linear infinite;
}

@keyframes rot {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(28%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(28%) rotate(-360deg);
    } 
}

.animation-r{
    animation: rot1 3s linear infinite;
}

@keyframes rot1 {
    0% {
        transform: translate(-50%, -50%) rotate(270deg) translateY(28%) rotate(-270deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(630deg) translateY(28%) rotate(-630deg);
    } 
}

.animation-l{
    animation: rot2 3s linear infinite;
}

@keyframes rot2 {
    0% {
        transform: translate(-50%, -50%) rotate(90deg) translateY(28%) rotate(-90deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(450deg) translateY(28%) rotate(-450deg);
    } 
}



.sixth-screen{
    display: flex;
    flex-direction: row;
    background: 000000;
    background: linear-gradient(6deg,rgba(0, 0, 0, 1) 23%, rgba(255, 0, 0, 1) 100%);
    height: 35vw;
}
.stars{
    position: absolute;
    width: 30vw;
    height: 40vw;
    right: 16vw;
    transform: perspective(100vw) rotateY(45deg);
    transform-style: preserve-3d;
}
.stars div{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5vw;
    left: 0;
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(100vw) rotateX(0deg);
  }
  0% {
    transform: perspective(100vw) rotateX(359deg);
  }
}
.stars div img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2vw;
}

.stars div img:nth-child(1) {
  transform: rotateX(0deg);
}
.stars div img:nth-child(2) {
  transform: rotateX(45deg);
}
.stars div img:nth-child(3) {
  transform: rotateX(-45deg);
}
.stars div img:nth-child(4) {
  transform: rotateX(90deg);
}


.stars1{
    position: absolute;
    width: 30vw;
    height: 40vw;
    left: 16vw;
    transform: perspective(100vw) rotateY(-45deg);
    transform-style: preserve-3d;
}
.stars1 div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5vw;
    left: 0;
    transform-style: preserve-3d;
    animation: animate1 5s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: perspective(100vw) rotateX(0deg);
  }
  0% {
    transform: perspective(100vw) rotateX(359deg);
  }
}
.stars1 div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2vw;
}

.stars1 div img:nth-child(1) {
  transform: rotateX(0deg);
}
.stars1 div img:nth-child(2) {
  transform: rotateX(45deg);
}
.stars1 div img:nth-child(3) {
  transform: rotateX(-45deg);
}
.stars1 div img:nth-child(4) {
  transform: rotateX(90deg);
}








.seventh-screen{
    display: flex;
    overflow: hidden;
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45.5vh;
}
.ryu {
    width: 41%;
    height: 100%;
    background: url('../assets/images/sprite2.svg') no-repeat 0 0%;
    background-size: cover;
    background-position: center;
    animation: sprite 6s steps(91) infinite;
}

@keyframes sprite {
  from { background-position: 0 0%; }
  to { background-position: 0 100%; }
}



.eighth-screen{
    display: flex;
    justify-content: flex-start;
    background: #000;
    overflow: hidden;
}
.eighth-screen-text{
    font-size: 10vw;
    color: #FF0000;
    white-space: nowrap;
    padding: 0 1rem;
    animation: moveText 6s linear infinite;
}
@keyframes moveText {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}





.decstop-only{
    display: inherit;
}


@media (max-width: 1040px) {
    .seventh-screen{
        height: auto;
    }
    
    .ryu {
        width: min(100vw, 450px);
        height: calc(min(100vw, 450px) * 820 / 1180);
        max-width: 100%;
        max-height: 70vh;
    }
}


@media (max-width: 1024px) {
    .third-screen{
        flex-wrap: wrap;
        height: 200vh;
    }
    .third-screen-first-block {
        width: 100%;
        height: 100vh;
    }
    
    .third-screen-secondAndThird-blocks {
        width: 100%;
        height: 100vh;
    }
    .w1{
        font-size: 7.5vw;
    }
    .w2{
        font-size: 7.5vw;
    }
}
@media (max-width: 512px) {
    .first-screen-second-block{
        display: none;
    }
    .first-screen-first-block{
        width: 100%;
    }
    .decstop-only{
        display: none;
    }
    .third-screen-secondAndThird-blocks{
        flex-wrap: wrap;
        height: 200vh;
    }
    .third-screen-third-block{
        width: 100%;
        height: 100vh;
    }
    .w1{
        font-size: 15vw;
    }
    .w2{
        font-size: 15vw;
    }
    .stars{
        display: none;
    }
    .stars1{
        left: 40vw;
    }
}
@media (max-width: 480px) {
    .ryu {
        width: 100vw;
        height: calc(100vw * 820 / 1180);
    }
}
